body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
}

header {
    text-align: center;
    background: transparent;
    padding: 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.content-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 80vh;
    padding: 20px;
    overflow: auto;
    transition: opacity 0.3s ease-in-out; /* Added transition property */
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.box {
    padding: 20px;
    border-radius: 40px;
    overflow: hidden;
    position: fixed;
    transition: transform 0.5s ease-in-out, opacity 0.7s ease-in-out;
    background: rgba(0, 0, 0, 0.0);
    outline: 2px solid rgba(255, 0, 0, 0.8);
    color: rgb(255, 0, 0);
    font-weight: bold;
    opacity: 1;
}

.left-box {
    width: 20%;
    height: 400px;
    left: 50px;
    bottom: 50px;
}

.left-box:hover {
    opacity: 1;
    transform: scale(1) rotate(1deg);
}

.middle-box {
    width: 30%;
    height: 600px;
    left: 50%;
    bottom: 150px;
    transform: translateX(-50%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.middle-box:hover {
    opacity: 1;
    transform: translateX(-50%) scale(1.05) rotate(1deg);
}

.right-box {
    width: 20%;
    height: 400px;
    right: 50px;
    bottom: 50px;
}

.right-box:hover {
    opacity: 1;
    transform: scale(1) rotate(1deg);
}

.button-container {
    position: fixed;
    top: 10px;
    left: 10px;
}

.button {
    padding: 10px;
    font-size: 16px;
    background: red; /* Retain the red background */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-note-button {
    margin-left: 10px;
}

footer {
    text-align: center;
    background: transparent;
    color: rgba(133, 0, 0, 0.363);
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1; /* Adjusted opacity */
    background-color: black; /* Added background color */
}

.dropdown {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.dropdown label {
    color: rgb(43, 43, 43);
    margin-right: 5px;
}

.dropdown select {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #1f1f1f;
    color: rgb(255, 0, 0);
    cursor: pointer;
    border-radius: 10px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
